/*Start global*/
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html
{
    font-family: 'Roboto', sans-serif;
    color: #eee;
}

body{
    /*background: url(images/Home_bg.png) no-repeat center;*/
    background-color: white;
    background-size: cover;
}

a
{
    text-decoration: none;
}

.button
{
  height: 2rem;
  width: 7rem;
  text-align: center;
  border: solid 2px #9499F4;
  border-radius: 3px;
  cursor: pointer;
  margin-left: 4.7rem;
  margin-top: 1rem;
  padding-top: 5px;
  transition-duration: 200ms;
  user-select: none;
}

.button a
{
    color: #9499F4;
}

.button:hover 
{
    background-color: #9499F4;
    color: black;
}
.button:hover a
{
    color: black;
}
/*End global*/


/*Start slideshow*/

.mySlides 
{
    display: none;
    height: 585px;
    width: 100%;
}
  
.slideshow-container 
{
    width: 100%;
}
  
.prev, .next 
{
    cursor: pointer;
    position: absolute;
    top: 55%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: #9499F4;
    font-weight: bold;
    font-size: 50px;
    user-select: none;
}
  
.next 
{
    Right: 0;
}

.mySlides h1
{
    text-align: left;
    font-size: 40px;
    color: white;
    padding-top: 20rem;
    padding-left: 4.6rem;
}

.mySlides h3
{
    text-align: left;
    font-size: 20px;
    color: white;
    padding-left: 5%;
}

.mySlides:nth-child(1)
{
    background-image: url(images/1.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.mySlides:nth-child(2)
{
    background-image: url(images/2.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.mySlides:nth-child(3)
{
    background-image: url(images/3.png);
    background-repeat: no-repeat;
    background-size: cover;
}

/*End slideshow*/
    
/*Start Photogrid*/

.Photogrid
{
    display: flex;
    flex-direction: row;
    margin-top: 10rem;
}

.Photogrid2
{
    display: flex;
    flex-direction: row;
    margin-top: 5rem;
    margin-right: 33.5em;
}

.Photogrid3
{
    display: flex;
    flex-direction: row;
    margin-top: 5rem;
    margin-left: 30rem;
}

.Box h1
{
    color: black;
    font-weight: 400;
    text-align: center;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

.Box p
{
    color: black;
    font-weight: 300; 
    padding-top: 2rem;
    text-align: center;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

.Box h3
{
    color: black;
    font-weight: 300;
    font-size: small;
    padding-top: 2rem;
    margin-bottom: -2rem;
    text-align: center;
}

.Box img
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 2rem;
}

/*End Photogrid*/

/*Start Social Media*/
hr.one
{
    border: none;
    height: 3px;
    width: 60%;
    margin-left: 20rem;
    margin-top: 5rem;
    justify-self: center;
    background: gray;
}

.socialmedia h1
{
    font-weight: 300;
    color: black;
    text-align: center;
    margin-top: 1rem;
    font-size: 24px;
}

.social-menu ul
{
    position: absolute;
    transform: translate(-50%, -50%);
    display: flex;
    margin-top: 3rem;
    margin-left: 47rem;
}

.social-menu ul li
{
    list-style: none;
    margin: 0 15px;
}

.social-menu ul li .fab 
{
    font-size: 25px;
    line-height: 60px;
    transition: .6s;
    color: black;
}

.social-menu ul li .far
{
    font-size: 25px;
    line-height: 60px;
    transition: .6s;
    color: black;
}

.social-menu ul li a
{
    position: relative;
    display: block;
    background-color: transparent;
    text-align: center;
    transition: 0.5s;
}

.social-menu ul li a:hover
{
    transform: translate(0, -10px);
}

/*End Social Media*/
.copyright{
    width: 100%;
    height: 15rem;
    text-align: center;
    background-color: #44448d;
    padding: 2rem 0;
    position: relative;
    margin-top: 5rem;
}

.up{
    position: fixed;
    width: 3rem;
    height: 3rem;
    background-color: transparent;
    right: 5rem;
    border-radius: 100%;
    display: flex;
    animation: pulse 3s infinite;
    cursor: pointer;
    bottom: 2rem;
    
}

.up i{
    color:black;
    font-size: 2rem;
    margin: auto;
}

@keyframes pulse{
    0% {
        box-shadow: 0 0 0 0 #9499F4;
    }
    70% {
        box-shadow: 0 0 0 1rem rgba(253, 87, 191, 0);
    }
    100% {
        box-shadow: 0 0 0 0 rgba(253, 87, 191, 0);
    }
}